name: MyWorkflow

on:
  push:
    branches: [main]

jobs:
 builds:
  #Create VM with ubuntu OS
  runs-on: ubuntu-latest

  steps: 
    #step 1: Print a greeting message
    - name: Print a greeting message
      run: |
        echo "Hello there"
        
    #step 2: Check out the source code from the repository
    - name: Check out code
      uses: actions/checkout@v4
    - name: Print content of repo
      run: |
        ls

    #step 3: Set up Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Check version of Python
      run: |
        python --version

    #step 4: Install dependencies (if you have a requirements.txt file)
    - name: Install dependencies 
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi



  
