name: MyWorkflow

on:
  pull_request:
  push:
    branches: [main]

jobs:
 builds:
  #Create VM with ubuntu OS
  runs-on: ubuntu-latest

  steps: 
    #step 1: Print a greeting message
    - name: Print a greeting message
      run: |
        echo "Hello there"
        
    #step 2: Check out the source code from the repository
    - name: Check out code
      uses: actions/checkout@v4
    - name: Print content of repo
      run: |
        ls

    #step 3: Set up Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Check version of Python
      run: |
        python --version

    #step 4: Install dependencies (if you have a requirements.txt file)
    - name: Install dependencies 
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest

    #begin test
    - name: Testing with Pytest
      run: |
        pytest

    #Access the hidden repo
    - name: Check out hidden repo
      uses: actions/checkout@v4
      with:
        repository: wongtongyannn/UOB_Hidden
        path: hiddenfolder
        token: ${{ secrets.SECRETUOB }}

    #Prints out the hidden things
    - name: Print out hidden things
      run: |
        ls
        cd hiddenfolder
        ls

    #Add in discord
    - name: discord 
      uses: sebastianpopp/discord-action@releases/v2
      with:
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        message: Hello, yan here! ${{ github.repository }} has been successfullly deployed.

    #Deploy a simple webpage
    - name: Deploy to GitHub pages
      uses: peaceiris/actions-gh-pages@v3
      with: 
        github_token: ${{ secrets.SECRET_GITHUB}
        publish_dir: ./ #Publish the root directory (where index.html is located)

  
